<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Pin</th>
      <th>Customer email</th>
      <th>Customer name</th>
      <th>Message</th>
      <th>Customer mobile</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.pin_id %></td>
        <td><%= order.customer_email %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.message %></td>
        <td><%= order.customer_mobile %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
